@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'poppins',sans-serif;
}

body{
    background: conic-gradient(at bottom left, deeppink, cyan);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background:white;
    height: 240px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    
}

.input-field {
    margin-top: 20px;

}
main{
    background: #1d5c9b;
    color: white;
    padding-left: 15px;
    padding: 15px 15px;
    border-radius: 10px;
    margin: 0px 8px;
    font-size: 15px;
    font-weight: 400;

}

.input-field input{
    width: 96%;
    padding: 8px;
    border: transparent;
    margin-top: 20px;
    border-radius: 8px;
    margin-left: 7px;
    margin-right: 5px;
    background: transparent;
    border: 1px solid #ccc;

}

input:focus{
    outline: none;
}

.icon-span{
    font-size: 20px;
    position: relative;
    left: 360px;
    bottom: 30px;
}

.tracker-box .validated{
    color: rgba(255,255,255,0.5);
}
.tick{
    color: rgb(28, 193, 28);
}